[user]
	email = aalsudani@nvidia.com
	name = Ahmed Al-Sudani
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[color "diff"]
	whitespace = red reverse

#[url "git@github.com:"]
#	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	default = current
	ff = only
[remote]
	pushDefault = origin
[submodule]
	recurse = true
